<html>

<head>

  <title>MyNews|Index</title>
  <meta charset="utf-8" />

  <!-- Jquery -->
  <script src="http://code.jquery.com/jquery-2.2.4.js"
    integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
    crossorigin="anonymous"></script>

  <!-- React -->
  <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
  <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>

  <!-- Foundation -->
  <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation-flex.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.js"></script>

  <!-- styles -->
  <style>

    .articleSuggestion {
      border: 1px solid black;
      padding: 5px;
    }

    .selected { 
      border: 2px solid green;
    }

    #submitArticlesButton {
      display: block;
      width: 100%;
      margin: 2px;
    }

  </style>

</head>

<body>
  <div id="newsBoxWrapper"></div>
</body>

<!-- react components -->
<script type="text/babel">

var NewsBox = React.createClass({
	loadReadingQueue: function() {
		$.ajax({
			url: '/get_reading_queue/',
			datatype: 'json',
			cache: false,
			success: function(data) {
				this.setState({readingQueueData: data.readingQueue});
			}.bind(this),
			error: function(xhr, status, err) {
				console.error(this.props.url, status, err.toString());
			}.bind(this)
		});
	},
	popReadingQueue: function(articleUrl) {
		$.post({
			url: '/read_article/',
			datatype: 'json',
			cache: false,
			data: {
				'articleUrl': articleUrl
			},
			success: function(data) {
			}.bind(this),
			error: function(xhr, status, err) {
				console.error(this.props.url, status, err.toString());
			}.bind(this)
		});
		this.loadReadingQueue()
	},
  getInitialState: function() {
    return {
      readingQueueData: [],
    };
  },
  componentDidMount: function() {
    this.loadReadingQueue();
  },
  render: function() {
    let articleElements = this.props.config.elements.map(function(element, index) {
      return <Article key={index.toString()}
        className={this.props.config.articleClassName}
        randomness={element.randomness} />
    }.bind(this));
    return (
      <div>
        <div className="row">{articleElements}</div>
        <center className="row">
          <button className="column button expand" 
            onClick={this.loadReadingQueue.bind(this)} 
            id="submitArticlesButton">Add Selections To Queue</button>
        </center>
        <ReadingQueue className="row column" 
          data={this.state.readingQueueData} 
          popReadingQueue={this.popReadingQueue} />
      </div>
    );
  },
});

var Article = React.createClass({
  getInitialState: function() {
    return {
      article: null,
      selected: false,
    };
  },
  loadNextArticle: function() {
    $.ajax({
      url: '/get_article',
      datatype: 'json',
      cache: false,
      data: {randomness: this.props.randomness},
      success: function(data) {
        this.setState({article: data});
      }.bind(this),
      error: function(xhr, status, err) {
        console.error('/get_article', status, err.toString());
      }.bind(this),
    });
  },
  viewArticle: function() {
    console.log({
      clicked: this.state.selected,
      articleUrl: this.state.article.articleUrl
    });
    $.post({
      url: '/view_article/',
      datatype: 'json',
      cache: false,
      data: {
        clicked: this.state.selected,
        articleUrl: this.state.article.articleUrl,
      },
      error: function(xhr, status, err) {
        console.error('/get_article', status, err.toString());
      }.bind(this),
    });
    this.setState({selected: false});
    this.loadNextArticle();
  },
  toggleSelect: function() {
    console.log('toggleSelect called');
    this.setState({selected: !this.state.selected});
  },
  componentDidMount: function() {
    this.loadNextArticle();
    console.log(document.getElementById('submitArticlesButton'));
    document.getElementById('submitArticlesButton').addEventListener('click', this.viewArticle);
  },
  render: function() {
    let className = 'small-12 medium-6 large-3 columns articleSuggestion';
    if (this.state.selected) {
      className += ' selected';
    }
    return this.state.article ? (
      <div className={className} onClick={this.toggleSelect}>
        <h5>{this.state.article.title}</h5>
        <img src={this.state.article.imageUrl} />
        <p>{this.state.article.text}... <strong>({this.state.article.score.toFixed(3)})</strong></p>
      </div>
    ) : <p>loading article</p>;
  },
});

var ReadingQueue = React.createClass({
  buildPopFunction: function(articleUrl) {
    return function() {
      this.props.popReadingQueue(articleUrl);
    }.bind(this);
  },
  render: function() {
    console.log(this.props.data);
    var queueNodes = this.props.data.map(function(article) {
      return (
        <tr key={article.url}>
          <td><button className="button alert" onClick={this.buildPopFunction(article.url)}>X</button></td>
          <td><a href={article.url}>{article.title}</a></td>
        </tr>
      );
    }.bind(this));
    return (
      <div className="readingQueue">
        <h3>Reading Queue</h3>
        <table>
          <tbody>
            {queueNodes}
          </tbody>
        </table>
      </div>
    );
  }
});

let config = {
  articleClassName: 'small-12 medium-6 large-3 columns articleSuggestion',
  elements: [
    {
      randomness: 0.0,
    },
    {
      randomness: 0.2,
    },
    {
      randomness: 0.5,
    },
    {
      randomness: 0.8,
    },
  ],
};

ReactDOM.render(
  <NewsBox config={config} />,
  document.getElementById('newsBoxWrapper')
);

</script>


</html>
