<html>

<head>

  <title>MyNews</title>

  <!-- react includes -->
  <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
  <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
  <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/remarkable@1.6.2/dist/remarkable.min.js"></script>

  <!-- styles -->
  <style>

    .articleSuggestion {
      border: 1px solid black;
      margin: 2px;
      padding: 5px;
      width: 300px;
    }

  </style>

</head>

<body>
  <div id="news-box-wrapper"></div>
</body>


<!-- react components -->
<script type="text/babel">

  /*
    - NewsBox
      - ArticleSuggestion
      - ReadingQueue
  */

  var NewsBox = React.createClass({
    getInitialState: function() {
      return {article: null, readingQueueData: []};
    },
    loadNextArticle: function() {
      $.ajax({
        url: this.props.getArticleEndpoint,
        datatype: 'json',
        cache: false,
        success: function(data) {
          this.setState({article: data});
        }.bind(this),
        error: function(xhr, status, err) {
          console.error(this.props.url, status, err.toString());
        }.bind(this)
      });
    },
    viewArticle: function(clicked) {
      $.post({
        url: this.props.viewArticleEndpoint,
        datatype: 'json',
        cache: false,
        data: {
          clicked: clicked,
          articleUrl: this.state.article.articleUrl
        },
        success: function() {
          this.loadReadingQueue();
        }.bind(this),
        error: function(xhr, status, err) {
          console.error(this.props.url, status, err.toString());
        }.bind(this)
      });
      this.loadNextArticle();
    },
    loadReadingQueue: function() {
      $.ajax({
        url: this.props.getReadingQueueEndpoint,
        datatype: 'json',
        cache: false,
        success: function(data) {
          this.setState({readingQueueData: data.readingQueue});
        }.bind(this),
        error: function(xhr, status, err) {
          console.error(this.props.url, status, err.toString());
        }.bind(this)
      });
    },
    popReadingQueue: function(articleUrl) {
      $.post({
        url: this.props.popReadingQueueEndpoint,
        datatype: 'json',
        cache: false,
        data: {
          'articleUrl': articleUrl
        },
        success: function(data) {
        }.bind(this),
        error: function(xhr, status, err) {
          console.error(this.props.url, status, err.toString());
        }.bind(this)
      });
      this.loadReadingQueue()
    },
    componentDidMount: function() {
      this.loadNextArticle();
      this.loadReadingQueue()
      setInterval(this.loadReadingQueue, this.props.pollInterval);
    },
    render: function() {
      return (
        <div className="newsBox">
          <h1>My News</h1>
          <ArticleSuggestion article={this.state.article} 
            viewArticle={this.viewArticle} />
          <ReadingQueue data={this.state.readingQueueData}
            popReadingQueue={this.popReadingQueue} />
        </div>
      );
    }
  });


  var ArticleSuggestion = React.createClass({
    clickArticle: function() {
      this.props.viewArticle(true);
    },
    skipArticle: function() {
      this.props.viewArticle(false);
    },
    render: function() {
      return this.props.article ? (
        <div className="articleSuggestion">
          <button onClick={this.clickArticle}>Add to queue</button>
          <button onClick={this.skipArticle}>Skip</button>
          <h3><a href={this.props.article.url}>{this.props.article.title}</a></h3>
          <img width="300" src={this.props.article.imageUrl}></img>
          <p>{this.props.article.text}...</p>
        </div>
      ) : <p>loading article</p>;
    }
  });

  var ReadingQueue = React.createClass({
    buildPopFunction: function(articleUrl) {
      return function() {
        this.props.popReadingQueue(articleUrl);
      }.bind(this);
    },
    render: function() {
      var queueNodes = this.props.data.map(function(article) {
        return (
          <li key={article.url}>
            <a href={article.url}>{article.title}</a>
            <button onClick={this.buildPopFunction(article.url)}>X</button>
          </li>
        );
      }.bind(this));
      return (
        <div className="readingQueue">
          <h3>Reading Queue</h3>
          <ul>
            {queueNodes}
          </ul>
        </div>
      );
    }
  });

  ReactDOM.render(
    <NewsBox getArticleEndpoint="/get_article/" 
      viewArticleEndpoint="/view_article/"
      getReadingQueueEndpoint="/get_reading_queue/"
      popReadingQueueEndpoint="/read_article/"
      pollInterval="2000" />,
    document.getElementById("news-box-wrapper")
  );

</script>


</html>
